// Typography and Baseline
// -----------------------------------------------------------------------------

// The default font size for all text in pixels.
$base-font-size: 16px;

// The distance between text baselines (vertical rhythm) in pixels.
$base-line-height: 24px;

// Ratio for modular type scale.
$type-scale-ratio: 1.25;

// Layout
// -----------------------------------------------------------------------------

// Define the minimum dimensions at which your layout will change, adapting to
// different screen sizes, for use in media queries.
$breakpoint-data: (
	small: 576px,
	medium: 768px,
	large: 992px,
	xlarge: 1200px,
);

// Colors
// -----------------------------------------------------------------------------

@import 'color-palette';

// Add more colors to the palette
$color-data: (
	primary: #6200EA,
	background: #FFFFFF,
	border: map-get(map-get($color-palette, 'black'), '300'),
	text-primary: map-get(map-get($color-palette, 'black'), '900'),
	text-secondary: map-get(map-get($color-palette, 'black'), '800'),
	text-tertiary: map-get(map-get($color-palette, 'black'), '500'),
	link: #6200EA,
	code: #009B8E,
	mark: rgba(255, 255, 0, 0.62),

	input-background: #FFFFFF,
	input-text: map-get(map-get($color-palette, 'black'), '800'),
	input-placeholder: map-get(map-get($color-palette, 'black'), '500'),
	input-border: map-get(map-get($color-palette, 'black'), '300'),

	input-hover-background: null,
	input-hover-text: null,
	input-hover-placeholder: map-get(map-get($color-palette, 'black'), '600'),
	input-hover-border: map-get(map-get($color-palette, 'black'), '400'),

	input-focus-background: null,
	input-focus-text: null,
	input-focus-placeholder: map-get(map-get($color-palette, 'black'), '600'),
	input-focus-border: #6200EA,

	input-disabled-background: null,
	input-disabled-text: map-get(map-get($color-palette, 'black'), '400'),
	input-disabled-placeholder: map-get(map-get($color-palette, 'black'), '400'),
	input-disabled-border: map-get(map-get($color-palette, 'black'), '100'),

	button-background: #6200EA,
	button-text: map-get(map-get($color-palette, 'white'), '50'),
	button-disabled-background: transparent,
	button-disabled-text: map-get(map-get($color-palette, 'black'), '400'),
);

$color-contrasted-data: (
	border: map-get(map-get($color-palette, 'white'), '200'),
	text-primary: map-get(map-get($color-palette, 'white'), '900'),
	text-secondary: map-get(map-get($color-palette, 'white'), '800'),
	text-tertiary: map-get(map-get($color-palette, 'white'), '500'),
);

// Border
// -----------------------------------------------------------------------------
$border-width-data: (
	hr: rem(2px),
	blockquote: rem(4px),
	td: rem(2px),
	th: rem(4px),
	input: rem(2px),
	button: rem(2px),
	iframe: rem(2px),
);

$border-radius-data: (
	input: rem(4px),
	button: rem(4px),
	iframe: rem(4px),
);

// Height
// -----------------------------------------------------------------------------

$height-data: (
	button: 1.5,
	input: 2,
);

// Duration
// -----------------------------------------------------------------------------

$duration-data: (
	none: 0,
	fast: 100ms,
	base: 200ms,
	slow: 300ms,
	slower: 400ms,
	slowest: 500ms,
);

// Easing
// -----------------------------------------------------------------------------

$easing-data: (
	base: cubic-bezier(0.64, 0, 0.35, 1),
	in: cubic-bezier(0.36, 0, 1, 1),
	out: cubic-bezier(0, 0, 0.42, 1),
	excite: cubic-bezier(0.18, 0.67, 0.6, 1.22),
	overshoot: cubic-bezier(0.07, 0.28, 0.32, 1.22),
	anticipate: cubic-bezier(0.38, -0.4, 0.88, 0.65),
);

// Shadows
// -----------------------------------------------------------------------------

$shadow-data: (
	faint: (
		0 1px 0 0 rgba(22, 29, 37, 0.05),
	),
	base: (
		0 0 0 1px rgba(63, 63, 68, 0.05),
		0 1px 3px 0 rgba(63, 63, 68, 0.15),
	),
	deep: (
		0 0 0 1px rgba(6, 44, 82, 0.1),
		0 2px 16px rgba(33, 43, 54, 0.08),
	),
	layer: (
		0 31px 41px 0 rgba(32, 42, 53, 0.2),
		0 2px 16px 0 rgba(32, 42, 54, 0.08),
	),
	transparent: 0 0 0 0 transparent,
);

// Typography
// -----------------------------------------------------------------------------

$font-family-data: (
	body: #{'Roboto', 'PT Sans', sans-serif},
	heading: #{'Roboto Condensed', 'PT Sans', sans-serif},
	code: #{'Roboto Mono', 'PT Mono', monospace},
);

$font-weight-data: (
	body: 400,
	body-bold: 700,
	heading: 400,
	heading-bold: 700,
	code: 400,
	code-bold: 700,
);

// Z-index
// -----------------------------------------------------------------------------

$z-index-data: (
	content: 100,
	overlay: 400,
);
